<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div id="wrap">
        <div id="main" class="container clear-top">
            <div class="footer-text">Made With Spite at T9 Hacks Spring 2022</div>
        </div>
    </div>
    <footer class="footer"></footer>
</head>
<body>


</body>
</html>