<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--  Animation stylesheet -->
    <link rel="stylesheet" href="/styles/animation.css">
    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- AOS library: -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--     Font -->
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

    <div id="wrap">
        <div id="main" class="container clear-top">
            <div class="informational" style="padding: 2%;">
                <p class="footer-text">Made With Spite at T9 Hacks Spring 2022</p>
            </div>
        </div>

    </div>
    <footer class="footer"></footer>
</head>
<body>


</body>
</html>