<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--    Our stylesheet-->
<link rel="stylesheet" href="/styles/style.css">
<!--  Animation stylesheet -->
<link rel="stylesheet" href="/styles/animation.css">

<!--    The Scripts.js file-->
<script type="text/javascript" src="/scripts/scripts.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- AOS library: -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!--     Font -->
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light myNav">
    <a href="/">
        <img src="/resources/ex.jpeg" width="60">
    </a>

    <form class="ml-auto">
        <button class="btn" type="submit"><a href="/"><p>About</p></a></button>
        <button class="btn" type="submit"><a href="/resources"><p>About</p></a></button>
    </form>

</nav>

</head>
<body>


</body>
</html>