<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FossilFreeCU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--  Animation stylesheet -->
    <link rel="stylesheet" href="/styles/animation.css">

    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- AOS library: -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>

<div id="body">

    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg navbar-light myNav">

        <form class="ml-auto">
            <button class="btn" type="submit" href="/resources">About</button>
            <button class="btn" type="submit"><a href="/resources">Resources</a></button>
        </form>

    </nav>

    <!-- Title Slide-->

    <div id="scroll1">

        <div class="titleBox1">
            <div class="title">
                CU Invests in Fossil Fuels
            </div>
        </div>

        <div class="subtitleBox1">
            <div class="informational">
                Typy typy wipey wipey
            </div>
        </div>

    </div>

    <!-- Chart -->

    <div class="container graph1">

        <p>percentage of investments that are for BAD GUYS!!</p>

        <div id="chart1">

            <section class="circle-chart-container">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" >
                    <circle stroke="#efefef" stroke-width=".5" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    <circle class="circle-chart-circle" stroke="#2f2f2f" stroke-width="3" stroke-dasharray="100,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                </svg>
                <span class="circle-chart-percentage circle-chart-one-percentage">
                27%
              </span>
                <svg class="circle-chart circle-chart-two" viewbox="0 0 33.83098862 33.83098862" >
                    <circle stroke="#efefef" stroke-width="0" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    <circle class="circle-chart-circle" stroke="#7a4d4d" stroke-width="3" stroke-dasharray="31,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                </svg>
                <span class="circle-chart-percentage circle-chart-two-percentage">

              </span>
            </section>

        </div>
    </div>



    <div id=""></div>



</div>

<div id="">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</div>

</body>

<script>

</script>


</html>