<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FossilFreeCU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--  Animation stylesheet -->
    <link rel="stylesheet" href="/styles/animation.css">

    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- AOS library: -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!--     Font -->
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

</head>

<body>

<%- include('header.ejs') %>

<div id="body">

    <!-- Title Slide-->

    <!--   the TITLEEEEEEEEEEEEEEEEEE -->

    <div class="container-fluid" style="margin: 5%;">

        <div class="theimage">

            <img src="../resources/comerceCity.jpeg" class="coolimg">

        </div>

        <div class="thetitle">
            <div style="padding-top: 10%;">
                <h1>Fossil "Free" CU</h1>
            </div>
        </div>



        <div class="thesub">
            <div class="informational" style="padding: 2%;">
                <h4>A look into the truth about University of Colorado's spending and practices in relation to sustainability</h4>
            </div>
        </div>

    </div>

    <!--    seperator div -->
    <div style="padding:10%; color: rgba(237,150,158,0)">p</div>


    <div id="scroll1" class="container-fluid" style="background-color: rgba(0,0,255,0); "></div>
        <div class="scroll1Contents" data-aos="fade-right">

            <div class="titleBox1 ">
                <div >
                    <h2>Lets be clear...</h2>
                </div>
            </div>

            <div class="subtitleBox1">
                <div class="informational">
                    Almost half of students report they chose CU in part because of its sustainability reputation.
                    <a href="https://www.colorado.edu/sustainability/#:~:text=80%25%20of%20students%20consider%20their%20carbon%20footprint%20to%20be%20low.&text=92%25%20of%20students%20state%20that,because%20of%20its%20sustainability%20reputation.">1</a>
                    <div style="padding: 0.5%; color: rgba(255,255,255,0)">p</div>

                    Is this reputation a facade? Take a look at the percentage of CU's total investment net gain from fossil-fuel companies.

                    <div style="padding: 0.5%; color: rgba(255,255,255,0)">p</div>

                    Almost a third... that's a big slice!

                </div>
            </div>

            <div class="chart1Holder">
                <!--            Circle chart 1        -->
                <div id="chart1">

                    <section class="circle-chart-container">
                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" >
                            <circle stroke="#efefef" stroke-width=".5" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <circle class="circle-chart-circle" stroke="#cfb87b" stroke-width="3" stroke-dasharray="100,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                        </svg>
                        <span class="circle-chart-percentage circle-chart-one-percentage">
                             27%
                    </span>
                        <svg class="circle-chart circle-chart-two" viewbox="0 0 33.83098862 33.83098862" >
                            <circle stroke="#efefef" stroke-width="0" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <circle class="circle-chart-circle" stroke="#000000" stroke-width="3" stroke-dasharray="31,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                        </svg>
                        <span class="circle-chart-percentage circle-chart-two-percentage">

                    </span>
                    </section>

                </div>
            </div>

        </div>
    </div>



<!--    seperator div -->
<div style="padding:10%; color: rgba(237,150,158,0)">p</div>






<div class = container>
    <section class="card">
        <div>
            <p>
            <h3>Test 2!</h3>
            <text> Text goes here! this is just the paragraph text! </text>
            </p>
        </div>

    </section>
</div>


<div class = container>
    <section class="card" data-aos="fade-right">
        <div>
            <header>
                Test! 3
            </header>
        </div>

    </section>
</div>
<div class = container>
    <section class="card" data-aos="fade-left">
        <div>
            <img src="https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg" width="400px">
            <p>
            <header>Test! 4 </header>
            <text> TEST TEST TEST TEST TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
            </text>
            </p>

        </div>

    </section>
</div>




<div id=""></div>

    <div class = container>
    <section class="card">
        <div>
            <p>
                <h3>Test 2!</h3>
            <text> Text goes here! this is just the paragraph text! </text>
            </p>
        </div>

    </section>
    </div>


    <div class = container>
        <section class="card" data-aos="fade-right">

            <div>
            <header>CU Boulder's Fossil Fuel Investment Gains</header>

                <section class="bar-graph bar-graph-horizontal bar-graph-one">
                    <div class="bar-one">
                        <span class="company">Charlebank Equity Fund VI, LP</span>
                        <div class="bar" data-percentage="51%"></div>
                    </div>
                    <div class="bar-two">
                        <span class="company">EIG Energy Fund XIV-A, LP</span>
                        <div class="bar" data-percentage="25.7%"></div>
                    </div>
<!--                    <div class="bar-three">-->
<!--                        <span class="company">2017</span>-->
<!--                        <div class="bar" data-percentage="32.2%"></div>-->
<!--                    </div>-->
                    <div class="bar-four">
                        <span class="company">Madison dearborn Capital Partners VI-B, LP</span>
                        <div class="bar" data-percentage="18.79%"></div>
                    </div>
                    <div class="bar-five">
                        <span class="company">Amerra Agri Fund II, LP</span>
                        <div class="bar" data-percentage="6.28%"></div>
                    </div>
                    <div class="bar-six">
                        <span class="company">Total CU Investment Gains</span>
                        <div class="bar" data-percentage="100%"></div>
                    </div>
                </section>

            </div>

        </section>
    </div>
    <div class = container>
        <section class="card" data-aos="fade-left">
            <div>
                <p>
                    <header>Key Infomation </header>
                <text>
                    <ul>
                        <li>
                            <a href = "https://www.amerracapital.com/portfolio" style = "color: black">
                                Amerra Agri Fund II, LP:
                            </a>
                             Investments in ethanol, a carbon taxing process.
                        </li>
                        <p></p>
                        <li>
                            Baupost Value Partners, LP IV:
                            Responsible for Puerto Rican debt. Click
                            <a href = "https://williamsrecord.com/457024/opinions/letter-to-the-editor-divest-by-2030/" style = "color: black">
                                here
                            </a>
                             for more information!
                        </li>
                        <p></p>
                        <li>
                            <a href = "https://www.amerracapital.com/portfolio" style = "color: black">
                                Charlebank Equity Fund VI, LP:
                            </a>
                             Still invests in processing tech for tar sands. Cick
                            <a href = "https://williamsrecord.com/457024/opinions/letter-to-the-editor-divest-by-2030/" style = "color: black">
                                here
                            </a>
                            for more information!
                        </li>
                        <p></p>
                        <li>
                            Charlebank Equity Fund VII, LP:
                            Related to Goldman Sachs by Sandor Hau, who finances fossil fuels. Click
                            <a href = "https://littlesis.org/org/47587-Charlesbank_Capital_Partners/giving" style = "color: black">
                                here
                            </a>
                            for more information!
                        </li>
                        <p></p>
                        <li>
                            <a href = "https://www.mdcp.com/" style = "color: black">
                                Madison Dearborn Capital Partners V-B, LP:
                            </a>
                            Invests in coal. Cick
                            <a href = "https://www.thecrimson.com/article/2019/9/20/corporation-fossil-fuels/" style = "color: black">
                                here
                            </a>
                            for more information!
                        </li>
                        <p></p>
                        <li>
                            EIG Energy Fund XIV-A, LP:
                            Investments in Coalspur, Cox Oil, Crown Oil Partners, Sunshine Oilsands Ltd., etc. Click
                            <a href = "https://littlesis.org/org/47587-Charlesbank_Capital_Partners/giving" style = "color: black">
                                here
                            </a>
                            for more information!
                        </li>
                    </ul>
                </text>
                </p>

            </div>

        </section>
    </div>








<div id="">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</div>

<%- include('footer.ejs') %>
</body>

<script>

</script>


</html>