<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FossilFreeCU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">

    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<!--<body onload="loadBigOil()">-->

<body>


</body>

<script>

</script>


</html>