<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FossilFreeCU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--  Animation stylesheet -->
    <link rel="stylesheet" href="/styles/animation.css">

    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- AOS library: -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>

<%- include('header.ejs') %>

<div id="body">

    <!-- Title Slide-->

    <!--   the TITLEEEEEEEEEEEEEEEEEE -->

    <div class="container-fluid" style="margin: 5%;">

        <div class="theimage">

            <img src="../resources/comerceCity.jpeg" class="coolimg">

        </div>

        <div class="thetitle">
            <div class="title">
                Fossil "Free" CU
            </div>
        </div>



        <div class="thesub">
            <div class="informational">
                CANCELLED!!
            </div>
        </div>

    </div>


    <div id="scroll1" class="container-fluid" style=
                        "background:transparent url('/resources/oil_colorado.jpeg')
                                no-repeat center center /cover; height:38vw;"></div>
        <div class="scroll1Contents" data-aos="fade-right">
            <div class="titleBox1 ">
                <div class="title">
                   CU Invests in Fossil Fuels
                </div>
            </div>




            <div class="subtitleBox1">
                <div class="informational">
                    Typy typy wipey wipey

                    <div id="chart1">

                        <section class="circle-chart-container">
                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" >
                                <circle stroke="#efefef" stroke-width=".5" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                <circle class="circle-chart-circle" stroke="#2f2f2f" stroke-width="3" stroke-dasharray="100,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            </svg>
                            <span class="circle-chart-percentage circle-chart-one-percentage">
                            27%
                        </span>
                            <svg class="circle-chart circle-chart-two" viewbox="0 0 33.83098862 33.83098862" >
                                <circle stroke="#efefef" stroke-width="0" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                <circle class="circle-chart-circle" stroke="#7a4d4d" stroke-width="3" stroke-dasharray="31,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            </svg>
                            <span class="circle-chart-percentage circle-chart-two-percentage">

                        </span>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-3" style="height:200px;"></div>

    <div id="scroll2" class="container-fluid">

        <div class="titleBox2">
            <div class="title">
                CU Invests in Fossil Fuels
            </div>
        </div>

        <div class="container graph1">

            <p>percentage of investments that are for BAD GUYS!!</p>

            <!-- Chart1 -->

            <div id="chart1">

                <section class="circle-chart-container">
                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" >
                        <circle stroke="#efefef" stroke-width=".5" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                        <circle class="circle-chart-circle" stroke="#2f2f2f" stroke-width="3" stroke-dasharray="100,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    </svg>
                    <span class="circle-chart-percentage circle-chart-one-percentage">
                        27%
                    </span>
                    <svg class="circle-chart circle-chart-two" viewbox="0 0 33.83098862 33.83098862" >
                        <circle stroke="#efefef" stroke-width="0" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                        <circle class="circle-chart-circle" stroke="#7a4d4d" stroke-width="3" stroke-dasharray="31,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    </svg>
                    <span class="circle-chart-percentage circle-chart-two-percentage">

                    </span>
                </section>

            </div>
        </div>
        


    </div>


<div class = container>
    <section class="card">
        <div>
            <p>
            <h3>Test 2!</h3>
            <text> Text goes here! this is just the paragraph text! </text>
            </p>
        </div>

    </section>
</div>


<div class = container>
    <section class="card" data-aos="fade-right">
        <div>
            <header>
                Test! 3
            </header>
        </div>

    </section>
</div>
<div class = container>
    <section class="card" data-aos="fade-left">
        <div>
            <img src="https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg" width="400px">
            <p>
            <header>Test! 4 </header>
            <text> TEST TEST TEST TEST TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
            </text>
            </p>

        </div>

    </section>
</div>




<div id=""></div>

    <div class = container>
    <section class="card">
        <div>
            <p>
                <h3>Test 2!</h3>
            <text> Text goes here! this is just the paragraph text! </text>
            </p>
        </div>

    </section>
    </div>


    <div class = container>
        <section class="card" data-aos="fade-right">
            <div>
                <header>
                    Test! 3
                </header>
            </div>

        </section>
    </div>
    <div class = container>
        <section class="card" data-aos="fade-left">
            <div>
                <img src="https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg" width="400px">
                <p>
                    <header>Test! 4 </header>
                <text>text texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
                </text>
                </p>

            </div>

        </section>
    </div>



<%- include('footer.ejs') %>

    <div class = container>
    <section class="card">
        <div>
            <p>
                <h3>Test 2!</h3>
            <text> Text goes here! this is just the paragraph text! </text>
            </p>
        </div>

    </section>
    </div>


    <div class = container>
        <section class="card" data-aos="fade-right">
            <div>
                <header>
                    Test! 3
                </header>
            </div>

        </section>
    </div>
    <div class = container>
        <section class="card" data-aos="fade-left">
            <div>
                <img src="https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg" width="400px">
                <p>
                    <header>Test! 4 </header>
                <text>text texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
                </text>
                </p>

            </div>

        </section>
    </div>





<div id="">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</div>


</body>

<script>

</script>


</html>