<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FossilFreeCU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--  Animation stylesheet -->
    <link rel="animation_stylesheet" href="/styles/animation.css">

    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div id = "body">
        <div class = "titleBox1">
            <div class = "title">
                Our Objective
            </div>
        </div>

        <div class="subtitleBox1">
            <div class="informational">
                <p>
                    In the past decade, there has been a surge of activism surrounding<br>
                    surrounding climate and environmental justice issues. For many students <br>
                    at universities, information about their respective university's <br>
                    environmental investments and finances is frustratingly scant - <br>
                    finding any info can be a needlessly convoluted endeavor. Most of the
                </p>
            </div>
        </div>
    </div>
</body>

</html>