<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FossilFreeCU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    Our stylesheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--  Animation stylesheet -->
    <link rel="animation_stylesheet" href="/styles/animation.css">

    <!--    The Scripts.js file-->
    <script type="text/javascript" src="/scripts/scripts.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <%- include('header.ejs') %>

    <div id = "body">
        <div class = "titleBox1" style = "height: 5vw;">
            <div class = "title">
                <p>Our Objective</p>
            </div>
        </div>
        <p></p>
        <div class="resourcesText" style = "height: 30vw; width: 80vw;">
            <div class="informational2_small">
                <p style = "font-size:16px; text-align: center;">
                    In the past decade, there has been a surge of activism surrounding<br>
                    climate and environmental justice issues. For many students, <br>
                    information about their respective university's <br>
                    environmental investments and finances is frustratingly scant - <br>
                    finding any info can be a needlessly convoluted endeavor. Most of the <br>
                    time, if information is found, it's articles detailing pledges and promises <br>
                    from the university as opposed to any hard data, and any that can be found <br>
                    is usually in contrast to those shallow words; proof of investments to <br>
                    and kickbacks from companies that are engaged in and/or in support <br>
                    of fracking and other nonrenewable energy sources.
                </p>
                <p style = "font-size:16px; text-align: center;">
                    This is the case with the university of Colorado Boulder. Our website <br>
                    aims to illustrate what CU Boulder attempts to hide: how the pledges <br>
                    and promises to renewable energy are surrounded by profitable <br>
                    investments by the university to the university by fossil <br>
                    fuel related companies. Additionally, we aim to show other students how <br>
                    they can make a difference and see what their university may be hiding <br>
                    from them.
                </p>
            </div>
        </div>




    </div>
</body>

</html>